html{
    min-height:100%;
    width:100%;

}
    body{

        background-image: url('../Snake_escape/Images/Snake_Escape\ homepage.png');
        background-repeat: no-repeat;
        background-size:cover;
        background-position:center center;
        overflow:hidden;
       
    
    }
#start{

    margin-top: 21%;
    margin-left:80%;
}
#s{

    height:30px;
    width:150px;
}