html{
    min-height:100%;
    width:100%;

}
    body{
        overflow:hidden;
        background-color:#022331;
               
    }
   
    .container{

        margin-top:5%;
        margin-left:5%;
        margin-right:5%;
        border:4px solid white;
        border-radius:8px;;
        height:450px;
        width: 1100px;
        overflow-y:scroll;
        position:absolute;
        -ms-overflow-style: none;

    }
    .container::-webkit-scrollbar { 
        display: none;  
    }
    #d1,#d2,#d3,#d4,#d5,#d6,#d7,#d8,#d9,#d10{
            /* border: 3px solid white; */
            border-radius: 8px;
            margin-top:1%;
            margin-left: 2%;
            margin-right:2%;
            height:60px;
            background-color: rgb(228, 174, 103);
            font-family:monospace;
            font-size:27px;
            color:rgb(52, 8, 93);
            font-weight: bold;
            padding-top:2%;
            padding-left:2%;
           
    }
    #b{
        background-color: transparent;
        border: none;
        margin-left:78%;
        padding-top:0%;
        padding-bottom:0%;
        margin-bottom: 5%;
        margin-top:-1.5%;
        height:fit-content;
        width:fit-content;
        position:absolute;
      }
    #book{
        height:70px;
        width:50px;      
        
    }
    #s{
        background-color: transparent;
        border: none;
        margin-left: 85%;
        margin-top:-1.5%;
        height:fit-content;
        width:fit-content;
        position: absolute;
       
      }
    #screen{
        height: 80px;
        width:60px;
        margin: 0%;     
    }
    #text{
        position: absolute;
        margin:0;

    }
     /* for codeeditor button div*/
    #codeeditor{
        position:fixed;
        margin-top: 45%;
        margin-left: 46%;
        border-radius:8px;
        border:3px solid white;
    }
    /* for codeeditor button */
    #c{
        border:none;
        background-color:rgb(230, 206, 110);
        height: 30px;
        width:110px;
        font-size:17px;
        font-weight: bolder;
    }
    /* for backbutton: */
    #back{
            background-color: transparent;
            border:none;
         }
    #backbutton{

            margin: 0%;
    }

    a:link{
        text-decoration: none;
        color:rgb(52, 8, 93);
    
    }
    a:visited{
        color:rgb(52, 8, 93);
    }