html{
    min-height:100%;
    width:100%;

}
    body{

        background-image: url('Images/JavaScript\ Background.png');
        background-repeat: no-repeat;
        background-size:cover;
        background-position:center center;
        overflow:hidden;
       
    
    }

    .title{
        position:absolute;
        margin-top:5%;
        margin-left:35%;
        width:100%;
        height:100%;
             
          
    }
    .milestone{

        position:absolute;
        margin-top:36%;
        margin-left:57%;
        animation-name:start;
        animation-duration:1s;
        animation-iteration-count:infinite;
        

    }

    /* animation to titleline */
    @keyframes start
    {
        50%{opacity:50%;}
    }
    
  /* #b{

    height:200px;
    width:500px;

  } */