html{
    min-height:100%;
    width:100%;

}
body{

background-image: url('Images/kidz_garden.png');
background-repeat: no-repeat;
background-size:100% 100%;
background-position:center center;
overflow: hidden;

}
#home{
    margin-top:-48.5%;
    margin-left: 0.5%;
    position: absolute;
    border:2px solid black;
    border-radius: 8px;
  }
#background{
    background-color: rgb(137, 138, 137);
    opacity: 50%;
    height:100vh;
    margin:0;
}
#title{
            margin-top:-40%;
            float: center;
         
            margin-left:25%;
            position:absolute;
            opacity:100% ;
}
#play,#p{
    margin-top:-15%;
    position: absolute;
    background-color: transparent;
    margin-left:45%;
    border:none;
    opacity: 100%;
    opacity:0;
    animation-name:start;
    animation-duration:1s;
    animation-iteration-count:infinite;    
}
/*To give blinking effect to the play button*/

@keyframes start
{
    50%{opacity:1;}
}

a{
        text-decoration: none;
        color:black;
 }

