                        html{
                                        min-height:100%;
                                        width:100%;
            
                        }
                           body{

                                background-image: url('Images/kidz_garden.png');
                                background-repeat: no-repeat;
                                background-size:100% 100%;
                                background-position:center center;
                                overflow:hidden;
                           }
                             .E{
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    margin-right: -50%;
                                    transform:rotate(60deg) translate(200px) rotate(-60deg);
                                    opacity:100%;                                  
                              }
                            .G{
                                    
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                margin-right: -50%;
                                transform:rotate(120deg) translate(200px) rotate(-120deg);
                               
                                 }
                            .J{
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                margin-right: -50%;
                                transform:rotate(180deg) translate(200px) rotate(-180deg);
                               
                              }
                             .P{
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                margin-right: -50%;
                                transform:rotate(240deg) translate(200px) rotate(-240deg);
                             
                              }
                           .O{
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                margin-right: 30%;
                                transform:rotate(300deg) translate(200px) rotate(-300deg);
                               
                              }
                           .X{
                               
                                    position:absolute;                               
                                    transform:rotate(390deg) translate(120px) rotate(-390deg);

                              }
                            
                              .container{
                                height:600px;
                                width:600px;
                                position: absolute;
                                top:0;
                                left: 10%;            
                                padding-top: 0;
                                           
                             }
                .apple{
                        margin-left:120%;
                        margin-top:1%;
                        position:absolute;
                        border:4px solid rgb(7, 7, 7);
                     
                        }
                     

           table,tr,td{
                             border:2px solid black;
                
                      }
                tr,td{
                        border:4px solid black;
                }
                      
                table{
                        height:200px;
                        width:255px;
                        margin-left:120%;
                        margin-top:40%;
                        position:absolute;
                        border:4px solid black;
                }
               
                #y{
                                background-color: yellow;
                                position:relative;
                                height:100px;
                                width:113px;
                                align-items:center;
                                
                  }
                #gr{
                                background-color: green;
                                position:realtive;
                                height:100px;
                                width:113px;
                                align-items:center;
                  }
                #b{
                                background-color: blue;
                                position: relative;
                                height:100px;
                                width:113px;
                                align-items:center;
                 }
                #r{
                                background-color: red;
                                position: relative;
                                height:10px;
                                width:113px;
                                align-items:center;
                 }
                #o{
                                background-color:orange;
                                position: relative;
                                height:100px;
                                width:113px;
                                align-items:center;
                 }
                #br{
                                background-color:brown;
                                position:relative;
                                height:100px;
                                width:113px;
                                align-items:center;
                 }  
                #y1{
                                padding:0;
                                width:auto;
                                height:auto;
                   }           

.container_emojies{

                        bottom:0px;
                        left:0px;
                        position:fixed;
                }
                #s1{
                        bottom:0;
                        left:0;
                        position:relative;
                        animation-name:e1;
                        animation-duration:3s;
                        animation-fill-mode: forwards;
                      
                }

                #s2{
                        bottom:0;
                        left:300px;
                        position:fixed;
                        animation-name:e2;
                        animation-duration:3s;
                        animation-fill-mode: forwards;
                        animation-delay:1s;
                      
                }
                #s3{
                        bottom:0;
                        left:600px;
                        position:fixed;
                        animation-name:e3;
                        animation-duration:3s;
                        animation-fill-mode: forwards;
                        animation-delay:3s;                      
                   }
                #s4{
                        bottom:0;
                        left:900px;
                        position:fixed;
                        animation-name:e4;
                        animation-duration:3s;
                        animation-fill-mode: forwards;
                        animation-delay:4s;
                      
                }

                /* Animation for emojies: */

                @keyframes e1{
                                0%{bottom:0;opacity:10%;}
                                50%{bottom:300px;opacity:60%;}                               
                                100%{bottom:1000px;opacity:80%;}
                }
                @keyframes e2{
                                0%{bottom:0;opacity:0%;}
                                50%{bottom:300px;opacity:60%;}                               
                                100%{bottom:1000px;opacity:80%;}
                }
                @keyframes e3{
                                0%{bottom:0;opacity:0%;}
                                50%{bottom:300px;opacity:60%;}                               
                                100%{bottom:1000px;opacity:80%;}
                }
                @keyframes e4{
                                0%{bottom:0;opacity:0%;}
                                50%{bottom:300px;opacity:60%;}                               
                                100%{bottom:1000px;opacity:80%;}
                }
                
        
                            
